:root{
    --weightBlu: #265073;
    --aqua: #2D9596;
    --bbyBlu: #9AD0C2;
    --beige: #f1fada9c;
    --dark: #6d6d6d;
}

.gh-bg-primary{
    background-color: var(--weightBlu);
    color: white;
}

main{
    flex-grow: 1;
}

body{
    background-color: var(--beige);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav img{
    width: 25px;
    margin-right: 10px;
}

.inline{
    display: flex;
    align-items: center;
}

.gh-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textoInterativo{
    font-size: 2.4em;
}

.t1{
    text-align: justify;
}

main pre{
    background-color: var(--bbyBlu);
    border-radius: 10px;
    padding: 1em;
    text-align: start;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

main p{
    text-align: justify;
}

.main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.main img{
    margin-left: 10px;
    width: 400px;
}

.imgSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.centerCont{
    display: flex;
    width: 100%;
    justify-content: center;
}

h2{
    font-size: 1.5em;
}